<ul class="pagination" ng-controller="ndPaginationCtrl">
    <li>
        <a href="javascript:;" ng-click="pageChangeX(1)">&laquo;</a>
    </li>
    <li ng-repeat="i in pageCountArr">
        <a href="javascript:;" ng-click="pageChangeX(i)">{{i}}</a>
    </li>
    <li>
        <span style="padding-top:2px;padding-bottom:2px;">
            当前
            <input type="number" style="height:29px;width:60px" ng-model="pageIndex" required /> / 共{{pageCount}}页
        </span>
    </li>
    <li>
        <a href="javascript:;" ng-click="pageChangeX(pageCount)">&raquo;</a>
    </li>
</ul>


