<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>指令参数学习——父域与独立子域通讯——get获取器/set设置器</title>
    <script src="../../../../js/angular/angular.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .panel {
            background-color: #ffffff;
            margin: 20px;
            padding: 20px;
            border: solid 1px #ebebeb;
            box-shadow: 0 0 15px #f2f2f2,0 0 5px #a1bee2;
            width: 300px;
        }
    </style>
</head>
<body>
    <div ng-controller='demoCtrl'>
        <student stu="guy" on-save="saveEditing()"></student>
    </div>

    <script type="text/html" id="t1">
        <div class="panel">
            <p>
                <span>name:</span>
                <input type="text" ng-model="stu.name" />
            </p>
            <p>
                <span>sexy :</span>
                <select ng-model="stu.sexy">
                    <option value="1">male</option>
                    <option value="2">female</option>
                </select>
            </p>
            <button class="btn btn-info" type="button" ng-click="onSave()">save</button>
        </div>
    </script>

    <script>
        var app = angular.module("app", []);

        app.controller('demoCtrl', function ($scope) {
            $scope.guy = {
                name: "mark",
                sexy: 1
            };

            $scope.saveEditing = function () {
                //$http.post("...", { stu: $scope.guy });
                console.log($scope.guy.name + " is saving!");
                console.log($scope.guy);
            };
        });

        app.directive('student', ["$parse", function ($parse) {
            return {
                restrict: 'E',
                scope: {},
                template: function (elem, attr) {
                    return document.getElementById('t1').innerHTML;
                },
                controller: function ($scope, $element, $attrs, $transclude) {
                    var getClassName,
                        setClassName,
                        saveInvoker = angular.noop;

                    //注意：建议查阅一下$parse内置表达式转换函数的使用方法。

                    //获得stu属性指向的表达式{{guy}}
                    getStudent = $parse($attrs.stu);
                    setStudent = getStudent.assign;

                    //获得on-save属性指向的表达式{{saveEditing()}}
                    saveInvoker = $parse($attrs.onSave);

                    //监听父域的{{guy}}
                    $scope.$parent.$watch(getStudent, function (stu) {
                        $scope.stu = stu;
                    });

                    $scope.onSave = function () {
                        //在父域中，执行表达式{{guy}} assign——将本地对象stu设置到父域guy
                        setStudent($scope.$parent, $scope.stu);

                        //在父域中，执行表达式{{saveEditing()}}——执行父域saveEditing()
                        saveInvoker($scope.$parent, null);
                    };
                }
            };
        }]);


    </script>
</body>
</html>