<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>指令参数学习——require2</title>
    <script src="../../../../js/angular/angular.js"></script>
</head>
<body>
    <div ng-controller='classCtrl'>
        <div>out className:{{className}}</div>

        <div teacher>
            <student></student>
            <student></student>
        </div>



    </div>

    <!--my-directive1所属控制器MainController外，无效-->
    <div>{{sexy}}</div>

    <script>
        var app = angular.module("app", []);

        app.controller('classCtrl', function ($scope) {
            $scope.className = "";
        });

        app.controller('studentCtrl', function ($scope) {
            $scope.name = "Tgor";
            $scope.age = 20;

            //this.ask = function (pName) {
            //    //console.log($scope.name);
            //    $scope.name = pName;
            //};
        });

        app.directive('student', function () {
            return {
                restrict: 'E',
                scope: true,
                require: '?^teacher',
                controller: 'studentCtrl',
                template: '<span>name:{{name}}<input type="text" ng-model="name"/></span><span>age:{{age}}<input type="text" ng-model="age"/></span>',
                link: function (scope, element, attrs, ctrls) {
                    console.log(ctrls);

                    element.bind("click", function () {
                        console.log(ctrls);
                    });
                }
            };
        });

        app.controller('teacherCtrl', function ($scope) {
            $scope.name = "Miss wang";

            this.teacherName = $scope.name;
        });

        app.directive('teacher', function () {
            return {
                restrict: 'EA',
                scope: true,
                controller: 'teacherCtrl',
                //template: '<span>name:{{name}}<input type="text" ng-model="name"/></span>',
                //link: function (scope, element, attrs, ctrls) {
                //    console.log(ctrls);

                //    element.bind("click", function () {
                //        ctrls.ask("gundong");
                //    });

                //}
            };
        });


    </script>
</body>
</html>