<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>指令参数学习——require2</title>
    <script src="../../../../js/angular/angular.js"></script>
</head>
<body>
    <div ng-controller='classCtrl'>
        <div>out className:{{className}}</div>

        <student></student>
        <student></student>
    </div>

    <!--my-directive1所属控制器MainController外，无效-->
    <div>{{sexy}}</div>

    <script>
        var app = angular.module("app", []);

        app.controller('classCtrl', function ($scope) {
            $scope.className = "";
        });

        app.controller('studentCtrl', function ($scope) {
            $scope.name = "Tgor";
            $scope.age = 20;
        });

        app.directive('student', function () {
            return {
                restrict: 'E',
                scope: {
                    name: "="
                },//切换为{}，true测试
                require: '?^student',
                controller: 'studentCtrl',
                template: '<span>name:{{name}}<input type="text" ng-model="name"/></span><span>age:{{age}}<input type="text" ng-model="age"/></span>',
                link: function (scope, element, attrs, ctrls) {

                }
            };
        });


    </script>
</body>
</html>