<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>指令与控制器关系</title>
    <script src="../../../../js/angular/angular.js"></script>
</head>
<body>
    <div ng-controller='MainController' ng-init="myProperty='Hello World!'">
        外部: {{ myProperty}}
        <input ng-model="myProperty" />
        <div my-directive></div>
        <div my-directive></div>
    </div>
    <script>
        var app = angular.module("app", []);


        app.controller('MainController', function ($scope) {

        })

        app.directive('myDirective', function () {
            return {
                restrict: 'A',
                scope: false,//切换为{}，true测试
                priority: 100,
                template: '<div>内部:{{ myProperty }}<input ng-model="myProperty"/></div>',
                link: function (scope, element, attrs, ctrls) {
                    console.log(scope);
                }
            };
        });

    </script>
</body>
</html>